<!doctype html>
<html lang='en'>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <title>Westin Banquet</title>
  </head>
  <body style='padding-top: 70px;' ng-app='westin' ng-controller='dailyCtrl as daily' >
    <!-- starting content -->
    <div class='container-fluid'>

      <nav class='navbar navbar-default navbar-fixed-top' style='background-color: #a2ae4c;'>
	<div class='container'>
	  <div class='navbar-header'>
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class='navbar-brand' style='color: white'>Westin</a>
	    <a class='navbar-brand' style='color:white' ng-show='!daily.showFileList' ng-click='daily.returnToFileList() '><span class='glyphicon glyphicon-menu-left'>Return</span></a>
	  </div>
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


	    <div class="col-lg-4 col-md-5 col-sm-8 col-xs-10" ng-hide='daily.cookie'>
	      <div class="input-group">
		<input type="password" ng-model='daily.token' class="form-control" placeholder="token"/>
		<span class="input-group-btn">
		  <button class="btn btn-default" type="button" ng-click='daily.auth()'>submit</button>
		</span>
	      </div><!-- /input-group -->
	    </div><!-- /.col-lg-6 -->


	  </div>
	</div>
      </nav>

      <div style='height:100%'>
	<div ng-show='daily.showFileList'>
	  <!-- input date -->
	  <div class='well-sm center-block' ng-show='daily.cookie'>
	    <input class='glyphicon glyphicon-calendar center-block text-center text-nowrap text-primary input-primary' ng-model='daily.date' type='date'  ng-change='daily.setDate()'></input>
	  </div>
	  
	  
	  <!--data show -->

	  <div class='container' style='margin-bottom: -99999px; padding-bottom:99999px'>
	    
	    <div class='container' ng-show='daily.showFileList'>
	      <ul class="nav nav-tabs" role="tablist">
		  <li role="presentation" ng-repeat='dir in daily.info' ng-class='{active:$first}'>

		    
		    <div class="btn-group">
		      <button type="button" class="btn btn-info">
			
			<!-- tab header-->
			<a role="tab" data-toggle="tab"  href="{{'#'+dir.name+'tab'}}" class='bg-primary'>
			  <!--
			  <style>
			    .label-as-badge {
			    border-radius: 1em;
			    }
			    </style>
			    -->
			  <span class='label label-info text-uppercase'>{{dir.name}}</span>
			  <span class='label label-primary label-as-badge'>{{dir.files.length}}</span>
			</a>

			<!-- drop down -->
		      </button>
		      <button type="button" ng-if='dir.name.toLowerCase()=="bos"' class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		      </button>
		      <ul ng-if='dir.name.toLowerCase()=="bos"' class="dropdown-menu">
			<li class='dropdown-header text-uppercase'>Sort</li>
			<li><a href="#" ng-click='dir.sort(dir.files, "status")'>Order by Status</a></li>
			<li><a href="#" ng-click='dir.sort(dir.files, "starting")'>Order by Starting</a></li>
			<li><a href="#" ng-click='dir.sort(dir.files, "room")'>Order by room</a></li>
			<li><a href="#" ng-click='dir.sort(dir.files, "bo")'>Order by BO#</a></li>

			<li role="separator" class="divider"></li>
			<li class='dropdown-header'>Filter</li>
			<li><a href="#">All</a></li>
			<li><a href="#" data-toggle="collapse" data-target="#demo">Status<span class="glyphicon glyphicon-menu-right"></span></a></li>
			<li><a href="#" data-toggle="collapse" data-target="#demo">Room<span class="glyphicon glyphicon-menu-right"></span></a></li>

		      </ul>
		    </div>


		    
		  </li>

		</ul>


	      <div class='tab-content'  >

		<div role="tabpanel" ng-repeat='dir in daily.info' ng-class="{'tab-pane':true,fade:true,in:$first,active:$first}" id="{{dir.name+'tab'}}"  >

		  <ul class='list-group' >
		    <!--
		      <li  ng-repeat='f in dir.files' class='list-group-item' ng-click='daily.showfile(dir.name, f.path)'
		      ng-class="{'bg-info':{$f.status=='finished'},'bg-warning':{$f.status=='upcoming'},'bg-danger':(f.status=='ongoing'}">
		    -->
		    <li  ng-repeat='f in dir.files' class='list-group-item' ng-click='daily.showfile(dir.name, f.path)' ng-class="{'alert':f.status=='upcomingSoon','alert-danger':f.status=='upcomingSoon'}">

		      <span ng-class="{'glyphicon':true,
				      'glyphicon-check':f.status=='finished',
				      'glyphicon-flag':f.status=='upcoming',
				      'glyphicon-glass':f.status=='ongoing',
				      'glyphicon-exclamation-sign':f.status=='upcomingSoon',
				      'glyphicon-glass':f.status=='ongoing',
				      'glyphicon-info-sign':f.status=='roomstatus',
				      'text-success':f.status=='finished',
				      'text-warning':f.status=='ongoing',
				      'text-primary':f.status=='upcoming',
				      'text-danger':f.status=='upcomingSoon'}">
			<a ng-class="{'text-success':f.status=='finished',
				      'text-primary':f.status=='upcoming',
				      'text-warning':f.status=='ongoing',
				      'text-danger':f.status=='upcomingSoon'}"  href="#">{{(f.status=='unknown'?'&nbsp&nbsp':'')+f.fn}}</a>
		      </span>


		      </li>
		    </ul>


		</div>
	      </div>
	    </div>
	    
	  </div>
	</div>

	<style>
	  .remaining {
	  height: -webkit-calc(100vh - 72px);
	  height: -moz-calc(100vh - 72px);
	  height: calc(100vh - 72px);
	  background-color: rgba(90,90,190,0.8);
	  }
	</style>
	
	<!-- embedded pdf viewer-->


	<div class="row container col-lg-12 col-sm-12 col-md-12 col-xs-12" ng-show='daily.showIframe||daily.showImg' style='position: absolute; height: 90%; border: none'>
	  <img class='container img-responsive center-block col-lg-12 col-sm-12 col-md-12 col-xs-12' ng-show='daily.showImg' ng-src="{{daily.imgUrl}}" />
	  <iframe  class='container col-lg-12 col-sm-12 col-md-12 col-xs-12' style='postion:absolute;height:100%' ng-show='daily.showIframe'  ng-src="{{daily.pdfUrl}}"></iframe>
	</div>
      </div>

      <div class='well' ng-hide='daily.cookie'>
	<h3><span class='label label-default'>{{daily.message}}</span></h3>
      </div>
      <!-- end content -->


      <!-- starting the script part -->

      
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

      <script type="text/javascript" src="./js/rest.js"></script>
      <script type="text/javascript" src="./js/westin.js"></script>
    </body>

  </html>
