<!doctype html>
<html lang='en' >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <script type="text/javascript" src="./js/test.js"></script>

  </head>
  <body style='background-color:#eeeeee' ng-app='app' ng-controller='ctrl as c' >
    <!-- starting content -->
    <!-- end content -->

    <!-- starting the script part -->
    <!--
	<img  src="https://s3.amazonaws.com/westin.scanner/dropbox/201608/10/Bos/Youville.png">
	-->
    <div>
      <img  ng-src="{{c.url}}" ng-show='c.show'/>
      <input type='button' ng-click='c.changeUrl()'></input>
    </div>

    <div ng-show='!c.show'>
      <iframe src="http://localhost"/> 
    </div>
    
  </body>

</html>
